openapi: 3.1.0
info:
  title: MikCasual API
  description: |
    MikCasual 服务器数据 API，提供玩家在线状态、建筑列表、封禁列表和公告等数据。

    所有公共 `/api/*` 路由均启用 CORS，并允许任意来源读取。
  version: 1.0.0

servers:
  - url: https://data.mcmik.top/api
    description: 公共实例
  - url: /api
    description: 相对路径（本地开发）

security: []

paths:
  /players:
    get:
      summary: 获取在线玩家
      description: |
        返回当前在线玩家快照。后端响应来自内存里的预生成 JSON 缓存，适合高频轮询。

        `players` 数组当前不保证排序。当上游服务不可用时可能降级到第三方查询服务；
        降级响应只包含在线人数，`peak_online` 为 -1，`players` 为空数组。
      operationId: getPlayers
      responses:
        "200":
          description: 成功
          headers:
            X-Proxy-Cache:
              $ref: "#/components/headers/X-Proxy-Cache"
            X-Proxy-Source:
              $ref: "#/components/headers/X-Proxy-Source"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerOnlinePayload"
        "502":
          $ref: "#/components/responses/UpstreamError"

  /buildings:
    get:
      summary: 获取建筑列表
      description: 从内存/Worker Cache API 缓存的建筑汇总返回所有已登记建筑；cache miss 时读取 Durable Object 快照，KV 仅作为建筑持久存储和快照重建来源。支持按 tag、type、builder、locale 过滤。
      operationId: getBuildings
      parameters:
        - name: tag
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [original, derivative, replica]
        - name: builder
          in: query
          schema:
            type: string
        - name: locale
          in: query
          schema:
            type: string
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Building"

  /buildings/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: 获取单个建筑
      operationId: getBuilding
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Building"
        "404":
          $ref: "#/components/responses/Error"

  /bans:
    get:
      summary: 获取封禁列表
      description: 返回当前所有被封禁玩家的记录。
      operationId: getBans
      responses:
        "200":
          description: 成功
          headers:
            X-Proxy-Cache:
              $ref: "#/components/headers/X-Proxy-Cache"
            X-Proxy-Source:
              $ref: "#/components/headers/X-Proxy-Source"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BanItem"
        "502":
          $ref: "#/components/responses/UpstreamError"

  /announcements:
    get:
      summary: 获取公告列表
      description: 返回服务器公告。
      operationId: getAnnouncements
      responses:
        "200":
          description: 成功
          headers:
            X-Proxy-Cache:
              $ref: "#/components/headers/X-Proxy-Cache"
            X-Proxy-Source:
              $ref: "#/components/headers/X-Proxy-Source"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AnnouncementItem"
        "502":
          $ref: "#/components/responses/UpstreamError"

components:
  headers:
    X-Proxy-Cache:
      description: 代理缓存状态
      schema:
        type: string
        enum: [MISS, HIT, STALE]
    X-Proxy-Source:
      description: 数据来源
      schema:
        type: string
        enum: [UPSTREAM, FALLBACK]
  responses:
    Error:
      description: 请求失败
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: string
    UpstreamError:
      description: 上游服务不可用
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: string

  schemas:
    PlayerOnlinePayload:
      type: object
      required: [online, peak_online, players]
      example:
        online: 2
        peak_online: 8
        players:
          - uuid: 00000000-0000-0000-0000-000000000000
            name: PlayerName
            joined_at: "2026-06-27T12:34:56Z"
      properties:
        online:
          type: integer
          description: 当前在线人数。降级查询失败时为 -1。
        peak_online:
          type: integer
          description: 持久化历史最高在线人数，来自 plugins/mik/api-state.yml 的 peak-online。降级响应中为 -1。
        players:
          type: array
          description: 当前在线玩家列表，当前不保证排序。
          items:
            $ref: "#/components/schemas/OnlinePlayer"

    OnlinePlayer:
      type: object
      required: [name, uuid, joined_at]
      properties:
        name:
          type: string
        uuid:
          type: string
          format: uuid
        joined_at:
          type: string
          format: date-time
          description: 本次登录时间

    BuildingInput:
      type: object
      required:
        - name
        - description
        - coordinates
        - builders
        - buildType
        - images
        - buildDate
      properties:
        name:
          $ref: "#/components/schemas/LocalizedText"
        description:
          $ref: "#/components/schemas/LocalizedText"
        coordinates:
          $ref: "#/components/schemas/Coordinates"
        builders:
          type: array
          items:
            $ref: "#/components/schemas/Builder"
        buildType:
          type: string
          enum: [original, derivative, replica]
        images:
          type: array
          description: 图片路径列表。每项必须是相对路径或 https URL。
          items:
            type: string
        buildDate:
          type: string
          description: 建造日期
        tags:
          type: array
          items:
            $ref: "#/components/schemas/LocalizedText"
        source:
          $ref: "#/components/schemas/BuildingSource"

    Building:
      allOf:
        - $ref: "#/components/schemas/BuildingInput"
        - type: object
          required: [id, createdAt, updatedAt]
          properties:
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    LocalizedText:
      type: object
      additionalProperties:
        type: string
      description: "键为 locale（如 zh-CN、en），值为对应语言的文本"
      example:
        zh-CN: 示例文本
        en: Example text

    Coordinates:
      type: object
      required: [x, y, z]
      properties:
        x:
          type: number
        y:
          type: number
        z:
          type: number
      description: Minecraft 世界坐标

    Builder:
      type: object
      required: [name, uuid, weight]
      properties:
        name:
          type: string
        uuid:
          type: string
          format: uuid
        weight:
          type: number
          description: 贡献权重，用于计算贡献百分比

    BuildingSource:
      type: ["object", "null"]
      properties:
        originalAuthor:
          type: string
        originalLink:
          type: string
          format: uri
        notes:
          $ref: "#/components/schemas/LocalizedText"

    BanItem:
      type: object
      required:
        - playerName
        - playerUuid
        - reason
        - bannedBy
        - bannedAt
        - expiresAt
        - isPermanent
      properties:
        playerName:
          type: string
        playerUuid:
          type: string
          format: uuid
        reason:
          type: string
        bannedBy:
          type: string
        bannedAt:
          type: string
          format: date-time
        expiresAt:
          type: ["string", "null"]
          format: date-time
        isPermanent:
          type: boolean

    AnnouncementItem:
      type: object
      required: [content, timestamp]
      properties:
        content:
          type: string
        timestamp:
          type: string
          format: date-time
